.btnSubmit {
  background-color: #bc815d;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin: 16px 0px 0px 0px;
  cursor: pointer;
}
